In [1]:
import pandas as pd

In [2]:
movies = pd.read_json("movies.json")
reviews = pd.read_json("reviews.json")
reviews.head()

   user_id  item_id  rating           timestamp
0        0       50       5 1997-12-04 15:55:49
1        0      172       5 1997-12-04 15:55:49
2        0      133       1 1997-12-04 15:55:49
3      196      242       3 1997-12-04 15:55:49
4      186      302       3 1998-04-04 19:22:22

In [3]:
reviews.drop(['timestamp'], inplace=True, axis=1)

In [4]:
mostReviewed = 3
topN = reviews.groupby('item_id').size()

In [5]:
topN = topN.sort_values(ascending=False).reset_index()[:mostReviewed]
topN

   item_id    0
0       50  583
1      258  507
2      100  506

In [6]:
top3DF = reviews[reviews['item_id'].isin(topN['item_id'])]

In [7]:
pivotDF = top3DF.pivot(index='user_id', columns='item_id', values='rating')

In [8]:
pivotDF = pivotDF.dropna(axis=0, how="all")

In [9]:
pivotDF = pivotDF.fillna(-1)

In [10]:
pivotDF.head()

item_id  50   100  258
user_id
0        5.0 -1.0 -1.0
1        5.0  5.0  5.0
2        5.0  5.0  3.0
3       -1.0 -1.0  2.0
4        5.0 -1.0  5.0

In [11]:
from sklearn.cluster import MiniBatchKMeans

In [12]:
kb = MiniBatchKMeans(n_clusters=2, random_state=0, batch_size=6)

In [13]:
kb = kb.fit(pivotDF)

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\cluster\_kmeans.py:1043: UserWarning: MiniBatchKMeans is known to have a memory leak on Windows with MKL, when there are less chunks than available threads. You can prevent it by setting batch_size >= 5120 or by setting the environment variable OMP_NUM_THREADS=1
  warnings.warn(

In [14]:
kb.cluster_centers_

array([[3.88235294, 2.61764706, 3.82352941],
       [1.47368421, 2.02631579, 0.57894737]])

In [15]:
from sklearn.metrics import silhouette_score

In [16]:
ss = silhouette_score(pivotDF, kb.labels_)

In [17]:
ss

0.28421773323138216

In [19]:
scores = {}
for i in range(2, 10):
    kb = MiniBatchKMeans(n_clusters=i, random_state=0, batch_size=6)
    kb = kb.fit(pivotDF)
    if(len(set(kb.labels_)) > 1):
        ss = silhouette_score(pivotDF, kb.labels_)
        scores[i] = ss

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\cluster\_kmeans.py:1043: UserWarning: MiniBatchKMeans is known to have a memory leak on Windows with MKL, when there are less chunks than available threads. You can prevent it by setting batch_size >= 5120 or by setting the environment variable OMP_NUM_THREADS=1
  warnings.warn(
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\cluster\_kmeans.py:1043: UserWarning: MiniBatchKMeans is known to have a memory leak on Windows with MKL, when there are less chunks than available threads. You can prevent it by setting batch_size >= 5120 or by setting the environment variable OMP_NUM_THREADS=1
  warnings.warn(
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\cluster\_kmeans.py:1043: UserWarning: MiniBatchKMeans is known to have a memory leak on Windows with MKL, when there are less chunks than available threads. You can prevent it by setting batch_size >= 5120 or by setting the environment variable OMP_NUM_THREADS=1
  warnings.warn(
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\cluster\_kmeans.py:1043: UserWarning: MiniBatchKMeans is known to have a memory leak on Windows with MKL, when there are less chunks than available threads. You can prevent it by setting batch_size >= 5120 or by setting the environment variable OMP_NUM_THREADS=1
  warnings.warn(
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\cluster\_kmeans.py:1043: UserWarning: MiniBatchKMeans is known to have a memory leak on Windows with MKL, when there are less chunks than available threads. You can prevent it by setting batch_size >= 5120 or by setting the environment variable OMP_NUM_THREADS=1
  warnings.warn(
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\cluster\_kmeans.py:1043: UserWarning: MiniBatchKMeans is known to have a memory leak on Windows with MKL, when there are less chunks than available threads. You can prevent it by setting batch_size >= 5120 or by setting the environment variable OMP_NUM_THREADS=1
  warnings.warn(
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\cluster\_kmeans.py:1043: UserWarning: MiniBatchKMeans is known to have a memory leak on Windows with MKL, when there are less chunks than available threads. You can prevent it by setting batch_size >= 5120 or by setting the environment variable OMP_NUM_THREADS=1
  warnings.warn(
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\cluster\_kmeans.py:1043: UserWarning: MiniBatchKMeans is known to have a memory leak on Windows with MKL, when there are less chunks than available threads. You can prevent it by setting batch_size >= 5120 or by setting the environment variable OMP_NUM_THREADS=1
  warnings.warn(

In [20]:
scores

{2: 0.28421773323138216,
 3: 0.37564170106287786,
 4: 0.41966544617439666,
 5: 0.4928480710445517,
 6: 0.580962944977297,
 7: 0.5792052104909716,
 8: 0.6205231475924143,
 9: 0.4634056548041324}

In [21]:
kb = MiniBatchKMeans(n_clusters=8, random_state=0, batch_size=6)
kb = kb.fit(pivotDF)

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\cluster\_kmeans.py:1043: UserWarning: MiniBatchKMeans is known to have a memory leak on Windows with MKL, when there are less chunks than available threads. You can prevent it by setting batch_size >= 5120 or by setting the environment variable OMP_NUM_THREADS=1
  warnings.warn(

In [22]:
pivotDF['Cluster'] = kb.labels_

In [24]:
pivotDF.head(10)

item_id   50  100  258  Cluster
user_id
0        5.0 -1.0 -1.0        7
1        5.0  5.0  5.0        6
2        5.0  5.0  3.0        6
3       -1.0 -1.0  2.0        5
4        5.0 -1.0  5.0        3
5        4.0  5.0 -1.0        0
6        4.0  5.0  2.0        6
7        5.0  5.0  4.0        6
8        5.0 -1.0  5.0        3
9        5.0 -1.0 -1.0        7

In [26]:
user8 = reviews[reviews['user_id'] == 8]

In [27]:
user8

       user_id  item_id  rating
93           8      338       4
518          8      550       3
684          8       22       5
1089         8       50       5
3840         8      182       5
4641         8       79       4
6026         8      294       3
6117         8      457       1
6122         8      385       1
7033         8       89       4
7447         8      190       4
7452         8      686       3
7706         8      301       4
9250         8      172       5
9447         8      511       5
10248        8      685       4
10364        8      144       5
11355        8      568       4
11632        8       56       5
12730        8        7       3
13371        8      689       4
14679        8      183       5
15227        8      687       1
16091        8      210       4
16106        8      258       5
16287        8      127       5
16328        8      188       5
16668        8      651       5
17031        8      176       5
24538        8      233       4
25162        8      518       4
27379        8      229       5
27473        8      228       5
27489        8      195       5
28592        8      684       4
29262        8      435       5
29960        8      174       5
30219        8       82       5
33023        8      273       3
33763        8      241       4
34624        8      341       2
36139        8      259       1
44535        8      227       4
46862        8      177       4
48223        8       96       3
49722        8      187       4
53821        8      181       4
55202        8      688       1
58044        8      403       4
61906        8       11       3
73293        8      336       3
73686        8      510       4
73969        8      222       5
73971        8      431       2
78776        8       55       5
80793        8      243       2
89377        8      358       2
89594        8      566       3
97156        8      260       3

In [28]:
user4 = reviews[reviews['user_id'] == 4]

In [29]:
user4

       user_id  item_id  rating
1249         4      264       3
1328         4      303       5
2201         4      361       5
2523         4      357       4
3272         4      260       4
5952         4      356       3
12135        4      294       5
13875        4      288       4
16284        4       50       5
18908        4      354       5
20060        4      271       4
20360        4      300       5
24489        4      328       3
24713        4      258       5
24836        4      210       3
35257        4      329       5
48693        4       11       4
51057        4      327       5
63898        4      324       5
68073        4      359       5
70844        4      362       5
76500        4      358       2
86562        4      360       5
88633        4      301       5

In [30]:
user8[user8['item_id'] == 303]

Empty DataFrame
Columns: [user_id, item_id, rating]
Index: []

In [31]:
movies[movies['item_id'] == 303]

     item_id               title
302      303  Ulee's Gold (1997)